
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form #regForm='ngForm' (ngSubmit)="submit(regForm)">

            <div>

                <div class="form-group">
                    <h2 class="text-center">enter your Email</h2>
                    <input type="email" class="form-control" placeholder="Email" name="emailid" email required ngModel #emailid="ngModel">
                    <span class="text-danger" *ngIf="emailid.touched && !emailid.valid">Please enter valid email value</span>
                    <div class="align-center">
                        <button class="btn btn-success" type="submit" [disabled]="!regForm.valid">Submit</button>
                    </div>
                </div>

            </div>

         
              
                
            </form>
            
        </div>
    </div>
</div>
