<section id="hero">
    <div class="hero-container">
        <div class="hero-logo">
            <h1 class="font-weight-bold">Take Away</h1>
        </div>
        <h2 class="font-weight-bold">Healthy Food Happy Mood</h2>
        <!-- <div class="actions">
            <a href="#" class="btn-get-started bg-warning">Order Now</a>
        </div> -->
    </div>
</section>


<!-- categories -->
<section id="variety" class="variety pt-4">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center font-weight-bold">About Restro</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                 nostrud exercitation ullamco laboris nisi 
                 ut aliquip ex ea commodo consequat.</p>
         </div>
         <div class="row">
             <div class="col-md-6 d-flex align-items-stretch">
                 <div class="card">
                     <div class="card-img"></div>
                     <img src="/assets/img/2.jpg" alt="">
                 </div>
                 <div class="card-body">
                     <h5 class="card-title">
                         <a href="#">Salads Kinds</a>
                     </h5>
                     <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                 nostrud exercitation ullamco laboris nisi 
                 ut aliquip ex ea commodo consequat.
                     </p>
                     <div class="read-more"><a href="#">
                          Read More
                     </a> </div>
                 </div>
             </div>
             <!--  -->
             <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img"></div>
                    <img src="/assets/img/5.jpg" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#">Meat dishes</a>
                    </h5>
                    <p class="card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="read-more"><a href="#">
                        
                         Read More
                    </a> </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img"></div>
                    <img src="/assets/img/4.jpg" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#">Salads Kinds</a>
                    </h5>
                    <p class="card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="read-more"><a href="#">
                        
                         Read More
                    </a> </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img"></div>
                    <img src="/assets/img/5.jpg" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#">Salads Kinds</a>
                    </h5>
                    <p class="card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="read-more"><a href="#">
                        
                         Read More
                    </a> </div>
                </div>
            </div>
            <!--  -->

         </div>
    </div>

</section>